@{
    ViewData["Title"] = "About";
}

<div class="grid-2 grid-2-left">
    <div class="content content-left">
        <h1>Providing Reliable and Honest Service</h1>
        <p>Honest Overhead Garage Doors of Louisville has a reputation for exceptional and honest work. Our level of dedication matches our level of experience and that is exactly what clients have come to know and expect. Whether working on a new construction project or working on a home from the 1960's we take the time to do the job right.</p>
        <p>With a skilled technician assigned to every project, we ensure work is done efficiently and with precision. Unlike larger franchises, we are repair technicians not salesman. We make it a point to assess every situation, creating a list with options to get the job done correctly and fairly. We don't upsale or oversale what is needed, as that is what sets us apart. Honesty and trust goes a long way.</p>
    </div>
    <div></div>
</div>

<div class="grid-2 grid-2-right">
    <div></div>
    <div class="content content-right">
        <h1>Staff</h1>
        <div>
            <p>Owner/Technician</p>
            <p>Zachary Hornback</p>
        </div>
        <div>
            <p>Dispatcher</p>
            <p>Candice Hornback</p>
        </div>
    </div>
</div>