@model ContactModel

@{
    ViewData["Robots"] = "all";
    ViewData["Title"] = "Garage Doors Repairs and Services";
}

<div class="split">
    <div class="content">
        <h2>Skilled & Dependable Technicians</h2>
        <p>As honest as we are skilled, Honest Overhead Garage Doors of Louisville responds to service requests quickly and efficently. Whether you need a new garage door opener installed, a broken spring replaced, or even just a new remote, we are your preferred garage door specialists. You can expect us to be professional and our work to be honest.</p>

        <ul>
            <li>New garage door installations</li>
            <li>Repairs, upgrades, and replacements</li>
            <li>Service and maintenance</li>
        </ul>
    </div>
    <div class="spacer"></div>
    <div class="content">
        <h2>Contact Us</h2>
        @if (Model.IsComplete)
        {
            <p>Thank you for contacting us!</p>
            <p>Our dispatcher will be in touch to assist you.</p>
        }
        else
        {
            <form action="https://formsubmit.co/HonestOverhead@outlook.com" method="post">
                <input type="hidden" name="_captcha" value="true">
                <input type="hidden" name="_next" value="http://www.honestoverhead-garagedoor.com?isComplete=true">

                <input asp-for="Name" placeholder="Name" required>

                <input asp-for="EmailAddress" placeholder="Email" required>

                <input asp-for="Phone" placeholder="Phone" required>

                <textarea asp-for="ServiceDescription" placeholder="What can we do for you?" required>
                </textarea>

                <input type="submit" value="Submit">
            </form>
        }
    </div>
</div>

<img class="split split-image" src="/img/background.jpg">

<div class="split">
    <img class="section-image" src="/img/section1.jpg">
    <div class="content">
        <h2>Garage Door Installation or Replacement</h2>
        <p>As a full-service garage door supplier, Honest Overhead Garage Doors of Louisville specializes in residential and small commercial. Including the installation of all makes and models of sectional doors such as carriage, wood grain, bead board. We also install roll up doors for small commercial or residential.</p>
        <p>Reputable and experienced, we are regularly called on by builders and homeowners. No project is too big or small.</p>
    </div>
</div>

<div class="reverse split">
    <img class="section-image" src="/img/section2.png">
    <div class="content">
        <h2>Garage Door Openers</h2>
        <p>We can provide repair services and install all major brands of openers. Whether it is Liftmaster, Chamberlain, Sears, Genie, Craftsman, or Linear, we can cover them all. Our familiarity with every make, model, and operation allows the comfort and assurance that the installation or repair will be done correctly.</p>
        <p>Looking for an upgrade? With new and advanced technology, garage door openers have become energy efficent, quiet, and versitile. We can add enhancements like a battery backup or phone app opener to your door.</p>
    </div>
</div>

<div class="split">
    <img class="section-image" src="/img/section3.png">
    <div class="content">
        <h2>Repairs & Upgrades</h2>
        <ul>
            <li>Broken torsion spring replacement</li>
            <li>Broken extension spring replacement</li>
            <li>Panel upgrades/replacement</li>
            <li>Replacment remotes, keypads etc.</li>
            <li>Annual maintenance</li>
            <li>WiFi/cellphone controlled openers</li>
            <li>Broken cables</li>
            <li>Racked, or uneven doors</li>
            <li>25-point inspections</li>
            <li>Full door overhauls</li>
            <li>Noisy door solutions</li>
            <li>Bottom seal replacement</li>
            <li>Free door estimates</li>
            <li>Tune and lube with every repair</li>
        </ul>
    </div>
</div>


@section Styles
{
    <style>

    </style>
}