@{
    ViewData["Robots"] = "all";
    ViewData["Title"] = "Honest Overhead Reviews";
}

<div class="split">
    <div class="content">
        <h2>Reviews</h2>
        <p>
            Google 5.0 ⭐ ⭐ ⭐ ⭐ ⭐ <a href="https://goo.gl/maps/oZpou2HE9JxjyPZ56">115 reviews</a>
        </p>
        <p>
            Facebook 5.0 ⭐ ⭐ ⭐ ⭐ ⭐ <a href="https://www.facebook.com/honestoverheadgaragedoors/reviews">13 reviews</a>
        </p>
        <p>
            Better Business Beareau 5/5 ⭐ ⭐ ⭐ ⭐ ⭐
        </p>
        <a href="https://www.bbb.org/us/ky/louisville/profile/garage-doors/honest-overhead-garage-doors-0402-159157182">
            <img class="section-image" src="/img/bbb.png">
        </a>
    </div>
</div>

<div class="split">
    <ol class="reviews">
        <li class="content">
            <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
            <p>The best customer service I have ever experienced! The owner Zach is a very reasonable and honest young man. I compared pricing and he had the best pricing around. He also came out late at night on a Sunday so that I could get my car out Monday morning to go to work. Very much recommend for all your garage door needs!
            <p>- <a href="https://www.bbb.org/us/ky/big-clifty/profile/garage-doors/honest-overhead-garage-doors-0402-159157182/customer-reviews">Danielle B</a></p>
            <p><time datetime="2023-09">September 2023</time></p>
        </li>
        <li class="content">
            <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
            <p>I phoned this company at 10:30pm at night about an issue with my garage door. He answered the call immediately and diagnosed the possible problem which was something that We were able to take his advice and try snd it worked. He is an honest person in my opinion as he could had charged me a service fee to come out and fix the problem but instead based on what I told him he told me what the problem could be and I tried what he thought could be wrong and it fixed it. I had not had any connection with this person until now. That tells me the name of the company fits him. I am very appreciative of him and will use his business in the future.
            <p>- <a href="https://g.co/kgs/s1Mn8d">Nancy Taylor</a></p>
            <p><time datetime="2022-09">September 2022</time></p>
        </li>
        <li class="content">
            <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
            <p>Zach saves the day!  Honest Overhead Garage Doors is now my go to for garage door repairs!  Trust him to do the repairs, when the others who say they can but can't, after hours and at a fair and reasonable price!!
            <p>- <a href="https://g.co/kgs/DUHm8B">Sharen Harper</a></p>
            <p><time datetime="2022-09">September 2022</time></p>
        </li>
        <li class="content">
            <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
            <p>Zach is absolutely fantastic. I accidentally backed into my garage door the other morning resulting in damage to the bottom of the door. Another larger company had come by that morning to give me a quote on the repair and get my car out of the garage. I was told I needed a brand new door (almost 2.5k), despite the damage seeming minor. Zach was recommended to me by a coworker that day, and he came right out to give me a separate quote. Within 3 minutes, he had bent my door back into place, and secured a hinge with a bolt. The garage door works perfectly and there is almost no evidence that any damage took place. It’s very obvious that Zach is an honest man who values his clients and his integrity.
            <p>- <a href="https://g.co/kgs/PfPpXj">Emily O'Bryan</a></p>
            <p><time datetime="2022-02">February 2022</time></p>
        </li>
        <li class="content">
            <p>⭐ ⭐ ⭐ ⭐ ⭐</p>
            <p>Two days before Christmas, the torsion spring broke on our double wide wooden (and heavy) garage door with both cars inside. This was the first year we were hosting at our house, which required transporting our handicapped parents.   I immediately called the company who installed the original door, but they were closed for the holiday! I desperately searched Google to find a garage door repair man available after hours & right before a holiday.  I found Honest Overhead Garage Doors,  read through the reviews, and decided to give Zach a call.  I was not disappointed!  Zach came out that night and saved our Christmas! All of the reviews and comments about Zach are real and true!  Zach deserves more than five stars as he exceeds expectations for each key metric for providing outstanding customer service: dependable, efficient, affordable, knowledgable, high quality craftsmanship, accountable, professional, courteous, reliable, & timely.  Zach went above and beyond repairing the torsion springs while inspecting the hardware, leveling the door, testing and alignment, and answering all of my questions. Zach is the real deal and his company’s name says it all.  I will continue to reach out to Zach for all of my future garage door maintenance, repair on installation.  I encourage you do the same! You won't be disappointed.
            <p>- <a href="https://g.co/kgs/YFhrHX">Chad</a></p>
            <p><time datetime="2022-03">March 2022</time></p>
        </li>
    </ol>
</div>