@{
    ViewData["Title"] = "About";
}

<div class="grid-2">
    <div class="content content-left">
        <h1>Garage Door Installations or Replacement</h1>
        <p>As a full-service garage door supplier, Honest Overhead Garage Doors of Louisville specializes in residential and small commercial. Including the installation of all makes and modles of sectional doors such as carriage, wood grain, bead board, and many more. We also install roll up doors for small commercial or residential.</p>
        <p>Reputable and experienced, we are regularly called on by builders and homeowners. No project is too big or small.</p>
    </div>
    <div></div>
</div>

<div class="grid-2">
    <div></div>
    <div class="content content-right">
        <h1>Garage Door Openers</h1>
        <p>We can provide repair services and install all major brands of openers. Whether it is Liftmaster, Chamberlain, Sears, Genie, Craftsman, Linear, etc we cover them all. Our familiarity with every make, model and operation such as chain, belt, jackshaft, or screw drive allows the comfort and assurance that the installation or repair will be done correctly.</p>
        <p>With new and advanced technology, garage door openers have become energy efficent, quiet, and versitile. Along with the many options such as batter back up, and cell phone use.</p>
    </div>
</div>

<div class="grid-2">
    <div class="content content-left">
        <h1>Repairs & Upgrades</h1>
        <ul>
            <li>Broken torsion spring replacement</li>
            <li>Broken extension spring replacement</li>
            <li>Panel Upgrades/replacement</li>
            <li>Replacment remotes, keypads etc.</li>
            <li>Annual maintinance</li>
            <li>WiFi/cellphone controlled openers</li>
            <li>Broken cables</li>
            <li>Racked, or uneven doors</li>
            <li>25 point inspections</li>
            <li>Full door overhauls</li>
            <li>Noisy door solutions</li>
            <li>Bottom seal replacement</li>
            <li>Free door estimates</li>
            <li>Tune and Lube with every repair</li>
        </ul>
    </div>
    <div></div>
</div>