<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Honest Overhead Garage Doors of Louisville is a full-service garage door repair service, specializing in residential and small commercial repairs and upgrades">
        <meta name="robots" content="@ViewData["Robots"]" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <environment names="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        <title>@ViewData["Title"] - Honest Overhead</title>
    </head>
    <body>
        <header id="header" class="clearfix">
            <div class="content clearfix">
            <div class="frame-left summary">
                <h1>Honest Overhead Garage Doors</h1>
                <h2>Garage door repair, sales, and installation</h2>
                <p>Louisville, Elizabethtown, Leitchfield, and surrounding areas</p>
            </div>
            <nav class="frame-right">
                <ul>
                    <li><a href="/">Main</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            </div>
        </header>
        <main id="body">
            @RenderBody()
        </main>
        <footer id="footer" class="clearfix">
            <div class="content clearfix">
            <div class="frame-left">
                <p>Senior and military discounts</p>
                <p>Free estimates for new doors</p>
                <p>No weekend or late-night fees</p>
                <p>Same day service</p>
            </div>
            <div class="frame-right">
                <p><b>Honest Overhead Garage Doors</b></p>
                <p><a href="mailto:HonestOverhead@outlook.com">HonestOverhead@outlook.com</a></p>
                <p><a href="tel:+15022692351">1-502-269-2351</a></p>
                <a href="https://www.facebook.com/honestoverheadgaragedoors">
                    <svg aria-label="Facebook" class="facebook" role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                        <rect class="icon-primary-fill" fill="#000000" height="512" width="512"></rect>
                        <path class="icon-secondary-fill" d="M287 456V157c0-21 6-35 35-35h38V59c-7-1-29-3-55-3-54 0-91 33-91 94v306m143-254H152v72h196" fill="#FFFFFF">
                        </path>
                    </svg>
                </a>
            </div>
            </div>
        </footer>
        <environment names="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("Scripts", required: false)
    </body>
</html>
