<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HonestOverhead</title>
        <meta name="description" content="Honest Overhead Garage Doors of Louisville is a full-service garage door repair service, specializing in residential and small commercial repairs and upgrades">
        <environment names="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <header>
            <div class="frame-left summary">
                <h1>Honest Overhead</h1>
                <h2>Garage Doors of Louisville</h2>
                <h3>Garage door repair and installation</h3>
            </div>
            <nav class="frame-right">
                <ul>
                    <li><a href="/">🏠</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/about">About</a></li>
                    <!-- <li><a href="/contact">Contact</a></li> -->
                </ul>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <div class="frame-left">
                <p>Senior and military discounts</p>
                <p>Free estimates for new doors</p>
                <p>No weekend or latenight fees</p>
                <p>Same day service</p>
            </div>
            <div class="frame-right">
                <p>Honest Overhead</p>
                <p>Garage Doors of Louisville</p>
                <p><a href="mailto:HonestOverhead@outlook.com">HonestOverhead@outlook.com</a></p>
                <p><a href="tel:+15022692351">1-502-269-2351</a></p>
            </div>
        </footer>
        <environment names="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("Scripts", required: false)
    </body>
</html>
