<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HonestOverhead</title>
        <environment names="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <header class="">
            <h1>Honest Overhead</h1>
            <h2>Garage Doors of Loiusville</h2>
            <h3>Garage door repair and installation</h3>
        </header>
        <nav class="">
            <a href="/">🏠</a>
            <a href="/services">Services</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
        <main class="">
            @RenderBody()
        </main>
        <footer>
            <div>
                <p>Honest Overhead</p>
                <p>Garage Doors of Loiusville</p>
                <a href="mailto:HonestOverhead@outlook.com">HonestOverhead@outlook.com</a>
            </div>
            <div>
                <a href="tel:+15022692351">1-502-269-2351</a>
                <p>Same day service</p>
            </div>
            <div>
                <p>Senior and military discounts</p>
                <p>Free estimates for new doors</p>
                <p>No weekend or latenight fees</p>
            </div>
            <p>&copy; 2017 - HonestOverhead</p>
        </footer>
        <environment names="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("Scripts", required: false)
    </body>
</html>
