@media only screen and (max-width: 1042px)
{
    #header .split
    {
        flex-direction: column !important;
    }

    nav
    {
        text-align: center !important;
    }

    nav ol
    {
        display: flex !important;
        justify-content: space-between !important;
    }

    nav ol li a
    {
        margin-left: 0;
    }
}

@media only screen and (max-width: 912px)
{
    .section-image
    {
        max-width: 100% !important;
    }

    .split
    {
        flex-direction: column !important;
    }
}

*
{
    box-sizing: border-box;
}

a
{
    color: #000000;
}

body
{
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 32rem;
}

h1, h2
{
    margin: 0;
}

html
{
    background-color: #606666;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

form
{
    display: flex;
    flex-direction: column;
}

form > *
{
    margin-top: 0.5em;
}

input
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.1rem;
    padding: 0.5em;
    height: 2.0rem;
}

input[type=submit]
{
    cursor: pointer;
    border: 0;
    background-color: #FD8107;
    height: 3rem;
}

nav ol
{
    height: 100%;
    line-height: 8rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav
{
    text-align: right;
}

nav ol li
{
    display: inline-block;
    height: 100%;
}

nav ol li a
{
    color: #000000;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

textarea
{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.1rem;
    height: 6em;
    padding: 0.5em;
    resize: none;
}


#header
{
    color: #000000;
    display: flex;
    width: 100%;
}

#header p
{
    margin: 0;
}

#header .split
{
    justify-content: space-between;
    margin: 0;
    max-width: 100%;
}

#header .content, #footer .content
{
    background: #FD8107;
    margin: 0;
    max-width: 100%;
    padding: 1rem;
}

#footer
{
    color: #000000;
    display: flex;
    margin-top: 2rem;
    position: absolute;
    width: 100%;
}

#footer a
{
    margin-left: 0.5rem;
    display: inline-block;
}

#body
{
    width: 100%;
}

.content
{
    background-color: #B3B3B3;
    border-top: 4px #FD8107 solid;
    display: inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #000000;
    margin: 0 auto;
    margin: 1rem auto;
    max-width: 1140px;
    padding: 2rem;
    width: 100%;
}

.section-image
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

.facebook
{
    width: 30px;
}

.frame-left, .frame-right
{
    width: 50%;
}

.frame-left
{
    float: left;
}

.frame-right
{
    float: right;
    text-align: right;
}

.reverse
{
    flex-direction: row-reverse;
}

.reviews
{
    padding: 0;
}

.reviews li
{
    list-style: none;
}

.split
{
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
}

.spacer
{
    margin: 0 1em;
}